[2019-07-03 19:42] Wursthandschuh opened #1 "gatsby build => window is not defined"
if you build  a gatsby app you get this:

   9 |          root["EmblaCarousel"] = factory();
 10 | })(window, function() {
     |  ^
  11 | return /******/ (function(modules) { // webpackBootstrap
  12 | /******/         // The module cache
  13 | /******/         var installedModules = {};

  WebpackError: ReferenceError: window is not defined

  - index.js:10 Object../node_modules/embla-carousel

[2019-07-03 20:49] davidcetinkaya commented on #1
Hi @Wursthandschuh,
Thank you very much for reporting this 👍!

This seems to be caused by a Webpack 4 bug, see this [Stackoverflow issue](https://stackoverflow.com/questions/49111086/webpack-4-universal-library-target). Basically, webpack 4 includes `window` when creating a `UMD` bundle but it shouldn't.

I'll let you know as soon as I've tried a suggested workaround.

[2019-07-03 21:15] davidcetinkaya commented on #1
Hello again WIlli (@Wursthandschuh),

I've implemented one of the suggested workarounds for this issue. Please try [v0.1.2](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v0.1.2) by installing the latest package like so:

[code]
or

[code]

I'd very much appreciate if you can confirm if this fixes the issue.

Thank you in advance 👍!

[2019-07-03 21:27] Wursthandschuh commented on #1
Hi @davidcetinkaya ,
the fix works! Thank you for the quick response and fixing =)
Keep up the good work on this project 👍

[2019-07-03 21:27] #1 closed

[2019-07-03 21:33] davidcetinkaya commented on #1
Thanks a lot @Wursthandschuh, cheers 🙂!

[2019-09-07 11:27] readeral opened #2 "React Autoplay example"
Hi David,

I've forked your React example to [include an autoplay example](https://codesandbox.io/s/embla-carousel-react-iox4t), based on [this post by Dan Abramov](https://overreacted.io/making-setinterval-declarative-with-react-hooks/)

I'm not sure if it's worth including in the Readme or not, but figured it would help someone else given setInterval can get a little hairy in React. I had to do

[2019-09-08 02:37] michaelrambeau opened #3 "Simplify the React Hooks example"
Hello again David @davidcetinkaya

I checked the example that uses React hooks.
I'd like to discuss about 2 points to make the example simpler.

## Use ref instead of state

I noticed the example uses the state to keep a reference of the `embla` object.

Why not use the hook `useRef` to store the reference instead? (I think it's the purpose of the `useRef` hook).

It would look this:

[code]

I re

[2019-09-08 07:59] davidcetinkaya commented on #2
Hi @readeral,

Sweet ⭐️! Thank you very much for sharing this 👍.

I'm thinking about creating a section in the **README** called **Inspiration** or similar to provide users with useful links, and I think your [autoplay example](https://codesandbox.io/s/embla-carousel-react-iox4t) would be great to put there.

What do you think?
Do you have any input on how we should do this?

[2019-09-08 08:07] davidcetinkaya opened #4 "Default prop for htmlTagName"
My dear friend @michaelrambeau raised the question about this in issue #3, suggesting that the prop `htmlTagName` should have a **default** value of `"div"` like so:

[code]

**React with 👍 if you want to see this happen.**

[2019-09-08 08:58] readeral commented on #2
Whatever is most easily maintained!

Adding an Inspiration section to Readme as you've said seems perfectly fine. Simply a list with a link to the Code Sandbox would be sufficient, right? In terms of attribution etc. that can all be gleaned from the individual sandbox example.

I'll submit a pull request where we can discuss further :)

[2019-09-08 10:05] readeral commented on #3
I appreciate this Michael, there doesn't seem to me to be any need for memoizing the embla methods - am I missing something in the inclusion of useCallback for the example as it stands? Can they not simply be arrow functions?

Regarding useRef - David's approach of putting the embla object in state makes the API closer to the like embla-carousel approach, in that there is no 'current' property nee

[2019-09-08 12:08] michaelrambeau commented on #3
Hello @readeral thank you for the feedback.

I see what you mean, the ref handling with the `current` property does not feel very natural.

Thinking further, all the user needs is an instance of the `embla` object, the ref handling should be internal.

Why not such an API (for the next major release):

[code]

The `Carousel` object not only builds the container, it also provides the `embla` object

[2019-09-08 12:37] xiel commented on #3
Hey @michaelrambeau ,
just adding my two cents. The current approach using emblaRef enables a more flexible and cleaner use than a render prop imho. But in theory both apis could be easily supported side by side.

Using useRef instead of useState would actually save one initial extra render (after setEmbla is called), but that does not really matter much. useState makes usage within callbacks and

[2019-09-08 13:04] davidcetinkaya commented on #3
Hello @michaelrambeau, @readeral, @xiel,

Thank Michael you for opening this issue! I hope my answer will clear some stuff up and give you an answer of why I made the `emblaRef` design choice.

### Default props
I've opened issue #4 for the **default htmlTagName** prop suggestion. I think this is a great idea. Thanks a lot 🌟!

### Ref & State
The current implementation with the `emblaRef` prop exp

[2019-09-08 13:20] davidcetinkaya commented on #2
Well done, I'll check the PR as soon as possible 🙂!

[2019-09-08 14:42] davidcetinkaya commented on #4
This feature is implemented in [v1.1.0](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v1.1.0) 🚀.

[2019-09-08 17:41] #4 closed

[2019-09-11 11:07] gunnarx2 opened #6 "Make emblaRef optional"
Hi @davidcetinkaya!

I'd like to discuss the `emblaRef` prop.

I noticed that `emblaRef` is required, but should it really be that? I understand that for most part you want to access the ref so you can execute stuff through the api, but not always.

Let's say (for some reason) you want to initiate Embla just as it is, nothing more than default, then you have to define a ref that you'll never use.

[2019-09-11 11:47] gunnarx2 commented on #3
### Use Callback
As @davidcetinkaya pointed out, the `useCallback()` will return a memoized version of the callback that only changes if `embla` changes. This is an optimization, but the question is if it's necessary for the example.

I agree with @xiel, for this simple example I would inline the onClick handlers. It will look more compressed and understandable.

So I would go with:
[code]

### Re

[2019-09-11 14:22] davidcetinkaya commented on #3
Hello all (@michaelrambeau, @xiel, @readeral, @gunnarx2),

## Conclusion
Considering the discussion in this issue:

### Use Callback
I think we can all agree on simplifying the **hooks example** by removing the `useCallbacks` and inlining the `scrollPrev` and `scrollNext` functions like so:

[code]

### EmblaRef vs Render props
The current implementation with **EmblaRef** allows for more freedom.

[2019-09-14 16:21] davidcetinkaya commented on #2
Added to README in version [v1.1.1](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v1.1.1) 🚀.

[2019-09-14 16:21] #2 closed

[2019-09-14 17:03] davidcetinkaya commented on #6
This is now a feature of version [1.2.0](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v1.2.0) 🚀.

[2019-09-14 17:03] #6 closed

[2019-09-14 17:16] davidcetinkaya commented on #3
Implemented in version [1.2.1](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v1.2.1). Thank you all for the discussion that led to these improvements 🎉.

[2019-09-14 17:16] #3 closed

[2019-09-26 20:03] HarleySalas opened #7 "Embla breaks react transition group page transitions"
I just found Embla and absolutely love it. Spent some time making it exactly how I wanted it, I was quite happy... until, I decided to navigate back to the page where my Embla Carousel is.

I wont provide code since I believe react-transition-group is well known enough. I had a very custom implementation, but went back to the exact usage listed in react-transition-group's docs and it's still broke

[2019-09-27 07:14] davidcetinkaya commented on #7
Hi Harley (@HarleySalas),

Thank you for taking time to open this issue. I'd like to go to the bottom with this and find what's causing this. But in order to troubleshoot without any code example I need **answers to following questions**:

Are you referring to [this exact documentation page](https://reactcommunity.org/react-transition-group/with-react-router)?

Which hooks example are you using? T

[2019-09-27 08:13] HarleySalas commented on #7
It seems I was referencing the wrong tutorial for react router transitions. I was referencing [this link](https://reacttraining.com/react-router/web/example/animated-transitions) but, the documentation page you linked seems interesting. I'll try that implementation now. It seems to mention some valid points.

[This](https://codesandbox.io/s/embla-carousel-react-iox4t) is the Embla example that I f

[2019-09-27 10:39] davidcetinkaya commented on #7
Hello Harley (@HarleySalas),

Thank you for your help. I'll look into this as soon as possible and hopefully find why it's happening and a solution for it.

Thanks for your patience!

[2019-09-27 14:08] HarleySalas commented on #7
After trying many different configurations of Route Transitions, no configuration would solve the issue. Quite unsure what it could be. I cleaned up my code and updated my project, so the notes from above no longer apply. However, Embla is still found in the same place and is configured the same way for reference.

My temporary solution is to only render my Embla Carousel 1 second after the page l

[2019-09-27 14:15] davidcetinkaya commented on #7
@HarleySalas Thank you for this information. I'll get back to you as soon as I have something!

[2019-10-01 05:50] davidcetinkaya commented on #7
Hi Harley (@HarleySalas),

Not to stress you or anything, just curious if the [CodeSandbox](https://codesandbox.io/s/csstransition-react-router-qrhnh) I created helped you in any way? Have you had the chance to troubleshoot yet?

Best,
David

[2019-10-10 16:56] lucasdon opened #8 "Create counter widget"
Thank you for this project. The physics are great. I managed to set up a very nice portfolio-slider with it and everything works fine. But now I'm trying to set up a counter-widget (eg 2of22) I'm quite new to React-land and struggle to connect all loose endings.

I'm using Embla via React Hooks. And I manage to get the current Index as followed:

[code]

And I can get the count of my Array/Total N

[2019-10-13 10:31] lucasdon commented on #8
Dear David,

thank you for your reply and for reformating my code. I will try harder to get it working right the next time.

I'm trying to reproduce this slide number/slides-widget like for flickity. [Here is a Pen](https://codepen.io/desandro/pen/dpPzab) and a screenshot:

<img width="497" alt="Bildschirmfoto 2019-10-13 um 12 19 20" src="https://user-images.githubusercontent.com/15727423/66714175

[2019-10-13 10:37] davidcetinkaya commented on #8
Hello @lucasdon,

Thanks for geting back to me. Great, the attached screenshot helps me understand 🙂.

I will suggest a solution as soon as I get the chance.

Thanks for your patience!

[2019-10-14 07:38] davidcetinkaya commented on #8
Hi @lucasdon,

I've setup a [CodeSandbox](https://codesandbox.io/s/embla-carousel-react-github-issue-8-3lqf0) to demonstrate how a **counter widget** can be achieved with Embla Carousel.

Have a look and let me know if you have any questions.

Best,
David

[2019-10-14 12:01] lucasdon commented on #8
Hi David,
thank you very much! Just can say:
![wow](https://user-images.githubusercontent.com/15727423/66749778-fda72d00-ee8a-11e9-88a5-ee30d82b6dee.gif)

Ah. I can see now what I missed.
Thank you for clarifying it this quick and all your efforts!!!

Best,
Oliver

[2019-10-14 12:01] #8 closed

[2019-10-14 13:53] davidcetinkaya commented on #8
Hello @lucasdon,

[2019-10-14 13:56] davidcetinkaya commented on #8
Hello @lucasdon,

I'm glad I could help 🙂. If you want to support this project, please consider recommending it to a friend and/or giving it a star. Don't feel obligated to, but it really helps.

Cheers!
David

[2019-10-15 09:15] davidcetinkaya commented on #7
Hi @HarleySalas,
I'm closing this issue due to inactivity. Feel free to reopen it if you have more questions or don't think it's resolved.

Thanks!
David

[2019-10-15 09:15] #7 closed

[2019-10-31 20:04] FarouHub opened #9 "Pagination: Possibility to update the content of the embla object"
Hi,
I have a lot of datas and i want to upload the images with a pagination system.
The problem is when i push the datas into the slides array, the embla object is no refreshed.
embla.[API docs](https://github.com/davidcetinkaya/embla-carousel/blob/master/README.md#changeoptionsoptions) scrollSnapLis[API docs](https://github.com/davidcetinkaya/embla-carousel/blob/master/README.md#changeoptionsopti

[2019-11-01 07:53] davidcetinkaya commented on #9
Hello Nicolas (@FarouHub),

Thank you for your question. When your data is ready you can use the following API method:

[code]

As described in the [API docs](https://github.com/davidcetinkaya/embla-carousel/blob/master/README.md#changeoptionsoptions):

If you pass an empty object the carousel will just re-initialize with the same options as before.

I hope this helps! Let me know if you have more

[2019-11-01 08:33] FarouHub commented on #9
Hello David,
thank you for your reactivity. I really appreciate.
Yes it's working !! Thank very much.

In my case when i arrived at the end of my page (20 elements), the next button is disabled.
Then if i have a next page, i load the next element. `embla.changeOptions({})` while recalculate the embla object but don't enable the next button. So i had a manually `setNextBtnEnabled(true)`..
And that

[2019-11-01 08:33] #9 closed

[2019-11-01 14:40] davidcetinkaya commented on #9
Hi Nicolas (@FarouHub),

I’m glad I could help 🙂. In your case setting
`setNextBtnEnabled(true)` seems to work but I’d recommend doing it this way instead:

[code]

The reason for this is that `embla.changeOptions({})` will update the carousel and just setting `setNextBtnEnabled()` to `true` could cause unintended bugs for different use cases than your current use case.

Thanks you again for your

[2019-11-14 13:17] bitttttten opened #10 "Does not account for changing children"
It seems that after changing the amount of items in the carousel, the old settings are kept and you are not able to scroll to new items if they are added. Or if items are removed, then you are able to scroll to "ghost" items (spooky 👻).

(codesandbox seems to be a bit buggy, and is overwriting my previous saves.. so hopefully one of them at least showcases the issue!)

Increasing demo: https://cod

[2019-11-16 11:44] davidcetinkaya commented on #10
Hi @bitttttten,

Thank you for opening this issue. And wow! Ghost items 👻, and here I thought halloween was over 😅.

Jokes aside, thank you for providing clear showcases, it really helps. This is related to issue #9. It might come as a surprise but this is actually by design. And not in the sense that: Wow, so cool, a React component that doesn't recognize when its children count changes. But rath

[2019-11-18 16:28] bitttttten commented on #10
I think exposing the API method is a great idea! And then in `embla-carousel-react` you could run this when children change.

My vote is yes since it keeps it align with React's declarative API. It is "just like" if Embla was destroyed and recreated. Also exactly like when changing state on a component. I would expect to be reading any of the Embla methods and they would reflect or match the state

[2019-11-20 11:20] bitttttten commented on #10
That's a good point. When I wrote the issue, I was imagining it would be fixing a lot of bugs since if you wrote your embla-carousel-react component declaratively, and this was released in the core, it would only be making your UI more consistent. (I hope) most people write declarative UI for React so it wasn't imagining it being a breaking change.

Sounds fair!

Sounds interesting. It could also

[2019-11-20 11:21] bitttttten commented on #10
But I now do appreciate your comment that this is the most minimal wrapper to get it working inside React 😄

[2019-11-20 13:12] bitttttten commented on #10
Here is an example of what I imagine the declarative API looking like. I am also looking at docs like `react-spring` for the inspiration.

This is basically pseudo code. I am sending in the children to `useEmbla`, so Embla knows to recreate itself which is not ideal. Plus it loses the previous state too. It's also not very performant :)

Although every time `useEmbla` is called, it will reinitiali

[2019-11-23 16:11] davidcetinkaya commented on #10
Hi @bitttttten.
Thank you for your input and your examples!

As you mention I don't want to hurt performance. Also, Embla's main purpose is to provide a low level carousel in contrast to its competitors that comes with everything out of the box. So I don't want it to do and decide too much for the end users. Having said that, I see your point about declarative code, and I'll look into this and get

[2019-12-18 13:05] davidcetinkaya commented on #10
Hello again,

I'm going to close this issue due to lack of interest. Feel free to reopen it if you think it should be prioritised.

Thank you!

[2019-12-18 13:05] #10 closed

[2020-02-11 03:16] kyleconnolly1020 opened #12 "Not providing desired functionality on first component mount"
Hi David,

Upon mounting the embla carousel for the first time, the carousel displays the following undesired behaviors:

- Dragging or clicking prev/next will always move the slides the entire width of the container. I am displaying multiple slides within the viewport at once, so this ends up skipping many slides. As a result, there ends up being a large empty space after the last child has been

[2020-02-11 07:05] davidcetinkaya commented on #12
Hi Kyle(@kyleconnolly1020),

Thanks for reporting this and the provided gifs. But in order to investigate further, I need some code to work with, so I would appreciate if you could fork [this CodeSandbox](https://codesandbox.io/embed/embla-carousel-react-znjzv?codemirror=1) to demonstrate the issue. At this point I can’t determine if the issue is caused by the package itself or if it’s related to

[2020-02-11 22:07] kyleconnolly1020 commented on #12
No problem. Please check out [this CodeSandbox](https://codesandbox.io/embed/embla-carousel-react-znjzv?codemirror=1). The project in question is quite hefty, so I stripped out everything other than the code handling this functionality. Please refer to the 'GameView' and 'PlayerWheel' Components in specific for where I am using the embla package.

Within the sandbox, please view the interpreter wi

[2020-02-13 09:46] davidcetinkaya commented on #12
Hi Kyle (@kyleconnolly1020),

Thanks for the sandbox and reducing the test case, I'll see if I can debug what's going on 👍. I just glanced at the code and it seems like there's a race condition happening or similar. Because if I trigger a recalculation of Embla upon initialisation in the `PlayerWheel.js` file, it calculates everything as it should:

[code]

In the meantime, I suggest you have a lo

[2020-02-14 20:07] kyleconnolly1020 commented on #12
Ok I will check out the sandbox to see if I can gather any insights. Hopefully we can uncover the root of the issue. Thank you for looking into this further!

[2020-03-27 10:22] omarkhatibco commented on #12
Hi @kyleconnolly1020

I had a similar problem, I think you fetch data from API ?

I am not sure why but it's seems Embla start calculating once it had mounted

as a Workaround I do this

[code]

[2020-03-27 10:28] omarkhatibco opened #13 "Cannot read property 'removeAllEvents' of undefined"
Hi @davidcetinkaya

I have a problem with the new Embla React version, I think `1.2.18` ~ `1.2.19`

Now when I do `embla.destroy()` in `useEffect` I get this message `Cannot read property 'removeAllEvents' of undefined`. it has worked before.

I traced it back in source code, it is here

[code]
Thanks
Omar

[2020-03-27 10:32] davidcetinkaya commented on #13
Thanks a lot for reporting this Omar (@omarkhatibco) 👍!
I'll take a look at it as soon as possible and get back to you as soon as I have something.

[2020-03-27 11:40] davidcetinkaya commented on #13
Hello again Omar (@omarkhatibco),

After investigating this further, this is because the destruction of the Embla instance has been **moved into the package core** since [version 1.2.11](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/1.2.11). So if you're doing this manually you'll have to remove it like so:

[code]

You can also check this [CodeSandbox](https://codesandbox.io

[2020-03-27 11:42] omarkhatibco commented on #13
Hi @davidcetinkaya
I have already did that, thanks for your feedback.

[2020-03-27 11:42] #13 closed

[2020-04-02 14:33] kennycrosby opened #14 "Loop not working as expected"
Setting `loop: true` will slide to nothing after the last slide and then after some delay slide `0` shows up.

[2020-04-02 14:36] kennycrosby commented on #14
Just realized I needed to add `position: relative;` to my slide. Solved the problem. Thanks for this awesome library!

[2020-04-02 14:36] #14 closed

[2020-04-02 14:40] davidcetinkaya commented on #14
Thanks @kennycrosby,

As you have already figured out, `position: relative` is needed on the slides 🙂. For other users running into the same problem, please check out the [Quickstart section](https://github.com/davidcetinkaya/embla-carousel#quickstart).

[2020-04-02 15:22] kennycrosby opened #15 "Error on webpack rebuild"
I don't think this is necessarily breaking anything but I am getting:
`Uncaught TypeError: Cannot read property 'removeAllEvents' of undefined`

Whenever webpack rebuilds. On refresh this doesn't happen.

Seems to occur at the cleanup code: `return () => embla && embla.destroy();`

Since it's checking for embla first I'm not sure why it would result in undefined.

[2020-04-02 15:39] davidcetinkaya commented on #15
Hello Kenny (@kennycrosby),

Thanks for reporting this. Could this be related to [issue #13](https://github.com/davidcetinkaya/embla-carousel-react/issues/13) maybe?

Please take a look and let me know if it solves your issue.

Best,
David

[2020-04-02 16:32] kennycrosby commented on #15
@davidcetinkaya ahh ok so that line is actually not needed anymore. Looks like it is still in the codesandbox: https://codesandbox.io/s/embla-carousel-react-iox4t

That solves the issue though, thanks again!

[2020-04-02 16:32] #15 closed

[2020-04-02 17:45] davidcetinkaya commented on #15
That's correct Kenny (@kennycrosby) 👍.

Ah I see, thanks for pointing that out. I removed that line on the [`Basic Setup`](https://codesandbox.io/s/embla-carousel-react-znjzv) example but the [`Autoplay`](https://codesandbox.io/s/embla-carousel-react-iox4t) example is Alans work (@readeral).

Alan (@readeral), would you mind bumping the `embla-carousel-react` version to the latest and removing the

[2020-04-02 17:46] davidcetinkaya commented on #15
Duplicate of issue #13.

[2020-04-05 11:38] readeral commented on #15
@davidcetinkaya Fixed. Thanks for the heads up!

[2020-04-05 11:44] davidcetinkaya commented on #15
Thanks a lot Alan (@readeral) 🙂.

Cheers!
David

[2020-04-05 11:56] readeral commented on #15
FWIW @davidcetinkaya I've created a 'team' on CodeSandBox for Embla-React and added this example to it, and invited you to the team, on the occasion you might want to edit that sandbox example.

[2020-04-06 05:09] davidcetinkaya commented on #15
Hello Alan (@readeral),
I like the initiative! That's a great idea ⭐️. Just one thought. What about making it more generic and call it `embla-carousel`? So any team members invited will have access to edit any Embla CodeSandbox?

Best,
David

[2020-04-17 08:10] davidcetinkaya commented on #3
@michaelrambeau check out release [v1.3.0](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v1.3.0). The `useEmblaCarousel` hook has now been released thanks to @gunnarx2  🙂.

[2020-04-22 22:17] lifedup commented on #12
I had a large white space the width of the container after the last slide when set to loop.  It was caused by incorrect styles.  In my case I did not have position: relative on each of my slides.

[2020-04-24 08:22] davidcetinkaya commented on #12
I'm going to close this due to lack of response. Feel free to re-open it if you would like further assistance.

Thanks a bunch for the help @lifedup and @omarkhatibco 💪!

[2020-04-24 08:22] #12 closed

[2020-05-05 02:13] chrisrichard opened #24 "package.json includes React in dependencies AND peerDependencies"
embla-react-carousel ends up with its own copy of react in its node_modules and this in turn adds unnecessary bloat to web bundles. My understanding is that typically React-based libraries like this should only list 'react' and 'react-dom' as dev and peer dependencies.

[2020-05-05 02:24] chrisrichard commented on #24
https://github.com/davidcetinkaya/embla-carousel-react/pull/25

[2020-05-05 05:43] davidcetinkaya commented on #24
Hello @chrisrichard,
Thanks a lot for noticing this and taking time to create a pull request #25 💪. I will take a look at this as soon as possible and get back to you when I've done so.

Cheers!
David

[2020-05-05 17:22] garethweaver commented on #24
Not only does it add bloat but it also stops hooks working when imported into as a component into another app.

[code]

[2020-05-06 06:43] davidcetinkaya commented on #24
Thanks for the additional input @garethweaver. Release [v1.3.2](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v1.3.2) fixes this issue. I'd very much appreciate if you could confirm if this is working as expected @chrisrichard.

Best,
David

[2020-05-07 11:38] garethweaver commented on #24
No worries!

[2020-05-07 15:03] #24 closed

[2020-05-11 11:37] davidcetinkaya opened #26 "Prevent click event on child element when dragging"
I've created this separate issue related to [Embla Carousel React](https://github.com/davidcetinkaya/embla-carousel-react) instead of discussing react specific implementation in the vanilla JS package conversation found [in issue 24](https://github.com/davidcetinkaya/embla-carousel/issues/24).

The **original question** is [here](https://github.com/davidcetinkaya/embla-carousel/issues/24#issuecomm

[2020-05-11 11:37] davidcetinkaya commented on #26
Thanks for the additional information @coopemor 👍.

For details about how `embla.clickAllowed()` works internally, please expand the collapsable and read the [documentation here](https://github.com/davidcetinkaya/embla-carousel#clickallowed).

So here's **one way to do it in React**:

[code]

Let me know if this helps you on the right track 🙂!

Best,
David

[2020-05-11 13:29] coopemor commented on #26
Perfect @davidcetinkaya! This got me up and running. I finally have a product photo carousel with zoom I feel good about.

FWIW I found your package inspecting the source of https://stojo.co/.

[2020-05-11 13:37] davidcetinkaya commented on #26
I'm happy it helps @coopemor 🙂.

Thanks a lot for sharing the link to the website where you found the Embla package, it's great to see how Embla is used on production sites!

[2020-05-11 13:37] #26 closed

[2020-05-12 01:20] daiky00 opened #27 "Getting errors every time I make a change in the code"
### Issue
So, I am using Gatsby in combination with embla-carousel-react and every time I make a change in the code and save and the hot reloader runs I get all these errors.

![Screen Shot 2020-05-11 at 8 15 41 PM](https://user-images.githubusercontent.com/15005162/81627704-62e0e380-93c4-11ea-90ca-a8ef83ba0764.png)
![Screen Shot 2020-05-11 at 8 15 58 PM](https://user-images.githubusercontent.com/

[2020-05-12 06:31] davidcetinkaya commented on #27
Hello Francisco (@daiky00),

Thanks for reporting this issue, I also noticed it two days ago when messing around with one of the CodeSandboxes. The error messages indicate that this isn't a bug in your code, but rather some issue with the vanilla JS package [Embla Carousel](https://github.com/davidcetinkaya/embla-carousel/) or [Embla Carousel React](https://github.com/davidcetinkaya/embla-carousel

[2020-05-12 09:43] davidcetinkaya commented on #27
Hi again Francisco (@daiky00),

I've just released patch [v1.3.3](https://github.com/davidcetinkaya/embla-carousel-react/releases/tag/v1.3.3) that comes with a fix for this issue. Please bump your [embla-carousel-react](https://github.com/davidcetinkaya/embla-carousel-react/) package to the latest in order to test it.

I'd very much appreciate if you could confirm this solves the issue.

Thanks in

[2020-05-15 17:58] davidcetinkaya commented on #27
Hello Francisco (@daiky00),

Have you had a chance to test if the patch release solves this issue?

Kindly
David

[2020-05-18 17:13] tiagofsanchez opened #28 "Embla Carousel with Gatsby"
Hi David,
First of all thank you and Tobias for this. Really nice work!

Wanted to understand if when using Embla with Gatsby you are having any issues with text-alignment? I am not sure why, on my [project](https://crushingwfh.com/), after using embla, everything is aligned center.

In case you need to check, my project [repo](https://github.com/tiagofsanchez/wfh-tools).

Any pointers would be ap

[2020-05-18 18:02] davidcetinkaya commented on #27
Closing this due to lack of response. Feel free to re-open this issue if you’re still experiencing problems when building your code.

[2020-05-18 18:02] #27 closed

[2020-05-18 18:31] davidcetinkaya commented on #28
Hello Tiago (@tiagofsanchez),
Thank you for the appreciation 👍🏻.

That sounds a bit strange 😅. Do you mean that every piece of text on your website is aligned center or only the text inside the Embla Carousel component?

Kindly,
David

[2020-05-19 01:31] tiagofsanchez commented on #28
Hi @davidcetinkaya,

Yes, every single piece of text is now aligned center. Very strange... I don't thing that happened to @gunnarx2 Gatsby project...But not sure why this is happening.

Will try to do a couple of debugs on my end and let you know. If you have any pointers for me that would be great :)

Cheers

[2020-05-19 05:55] tiagofsanchez commented on #28
It is very strange @davidcetinkaya ,

I have tried to replicate the error but can't... [Here](https://codesandbox.io/s/carouselwithgatsby-8qhsp?file=/src/components/emblaCarousel.js). It works well, however in my [project](https://crushingwfh.com/) it does that thing... aligning everything to the center. However, if you go into the blog [(articles)](https://crushingwfh.com/articles) page and refre

[2020-05-19 06:26] davidcetinkaya commented on #28
Hello again @tiagofsanchez,

Something strange is going on indeed. If you look at the screenshot, you have 2 `<body>` tags:

<img width="442" alt="text-align-issue" src="https://user-images.githubusercontent.com/11529148/82291934-2c016380-99aa-11ea-9ee6-907612bc2b27.png">

...this isn't by purpose right? And the `MuiTypography-alignCenter` gets applied on many places including the `<body>` tag. I'

[2020-05-20 01:00] tiagofsanchez commented on #28
Hi @davidcetinkaya,

Yes, Embla is not causing the issue. I can confirm that as I could now solve it.
First things first... [Embla works great with Gatsby](https://8qhsp.sse.codesandbox.io/) and thank you very much for that :)

As I tried to make sense out of the issue, and thank you for pointing me to the right direction, I found this [issue](https://github.com/gatsbyjs/gatsby/issues/17676) in Ga

[2020-05-20 01:00] #28 closed

[2020-05-20 07:17] davidcetinkaya commented on #28
Hello @tiagofsanchez,

I'm happy to hear that you solved the issue. And thank you for taking time to share your appreciation, it's motivating 🙏. All cred goes to Tobias (@gunnarx2) for bringing the `useEmblaCarousel` hook to Embla Carousel React ⭐.

Please feel free to submit a new issue if you have other questions or experiencing any issues with Embla. Until then, enjoy 🙂!

[2020-05-24 04:59] bilogic opened #29 "Example with styled-components"
Hi,

Possible to include an example of how to use this with https://github.com/styled-components/styled-components? Thank you.

[2020-05-24 17:44] davidcetinkaya commented on #29
Hello @bilogic,

Thank you for your question. I will create an example of how to use Embla with the styled components lib as soon as possible.

In the meantime, I’m going to add the label `help wanted` to see if any Embla React user out there is up for the task before I get a chance to do so.

Cheers!
David

[2020-05-26 12:47] gunnarx2 commented on #29
Hi @bilogic!

I've created [this example](https://codesandbox.io/s/embla-carousel-react-styled-components-we2je) for you. Does it help you?

[2020-05-27 02:13] bilogic commented on #29
@gunnarx2 yes it does. Thank you!

[2020-05-27 02:58] bilogic commented on #29
Pardon me, I'm getting a little confused here regarding ```components/EmblaCarousel.js``` and ```components/EmblaCarouselButtons.js``` found in the example.

1. What does ```embla-carousel-react``` offer on top of ```embla-carousel```? I was expecting a ready to use component that just needed styling with ```styled-components```

2. Must I recreate ```components/EmblaCarousel.js``` and ```componen

[2020-05-27 04:06] bilogic commented on #29
Ok, I figured out that I must recreate ```EmblaCarousel.js``` and ```EmblaCarouselButtons.js```, I still face the following issues (Sorry, the amount of CSS in the example was a bit overwhelming for me):

1. How do I move the dots inside the ```Viewport```? (Overlay onto the slides like the prev/next arrows)?
2. How do I define/remove the carousel/slide's aspect ratio constraint? I'm looking to ma

[2020-05-27 04:09] davidcetinkaya commented on #29
Hello @bilogic,

The [`embla-carousel`](https://github.com/davidcetinkaya/embla-carousel) package is a Vanilla JavaScript carousel for the web. And [`embla-carousel-react`](https://github.com/davidcetinkaya/embla-carousel-react) is a tiny React wrapper on top of the vanilla JavaScript package that enables the use of Embla Carousel for React devs.

The answer to your second question is yes, you’ll

[2020-05-27 04:29] bilogic commented on #29
Yes @davidcetinkaya, thanks! I'm starting to get the hang of it.

Solved at CSS of ```SlideInner```'s ```padding-bottom: 46%;``` and removed ```Content```'s ```padding```, ```margin```

removed ```Content```'s ```max-width```

Still trying to overlap the dots. :)

[2020-05-27 04:41] bilogic commented on #29
Decrease ```Dots```'s ```top: 100%```

[2020-05-27 04:49] bilogic commented on #29
@davidcetinkaya @gunnarx2 thanks for all your help!
I managed to figure out everything required.
Embla is the most flexible of all 8 carousels that I tried so far. Keep up the great work!

[2020-05-27 04:49] #29 closed

[2020-05-27 06:11] davidcetinkaya commented on #29
Hello again @bilogic,

Nice going solving it all 🙂!
Let us know if you have questions regarding the lib in the future. Until then, enjoy!

Cheers!
David

[2020-05-30 10:18] bilogic commented on #2
Hi all,

I copied the ```useInterval``` changes into my example, but keep getting this ```TypeError: Object(...) is not a function```, any idea how to debug? The stack frames display nothing useful. Google doesn't help either. Thank you.
![image](https://user-images.githubusercontent.com/946010/83325783-b21e8380-a2a1-11ea-9cd7-e251999f1b0f.png)

[2020-05-30 10:25] xiel commented on #2
@bilogic Did you add the imports and exports for useInterval correctly? You might have mixed up named and default export/import.

Better show the full code or upload your code to codesandbox if you need more assistance. Cheers.

[2020-05-30 10:32] bilogic commented on #2
Yea, I have it linked to a whole bunch of other stuff. Let me try codesandbox in a moment.
I did only 3 things:

1. Saved the entire ```useInterval.js``` next to my embla
2. ```import { useInterval } from "./useInterval.js"``` in my embla header
3.  Added this inside my embla under ```useEffect```, which became highlighted as an error
[code]

[2020-05-30 10:42] bilogic commented on #2
Ok, I managed, but it is showing a very different error. Nonetheless it is code that I was expecting to work... appreciate any debugging help. Thank you!

https://codesandbox.io/s/embla-carousel-react-autoplay-8xtpz

[2020-05-30 10:52] readeral commented on #2
Line 3 in your index needs to be named import (curly braces)
`import {Embla_carousel} from "./EmblaCarousel";`

Line 5 in your EmblaCarousel file needs to do the opposite - useInterval is a default export, so is unnamed, should look like this:
`import useInterval from "./useInterval.js";`

Should make your example codesandbox work. Hope that helps!

[2020-05-30 10:52] xiel commented on #2
@bilogic Ok, as expected. You mixed up named & default exports two times in the sandbox.

[code]

because you use an **named export** to export the carousel:
`
export const Embla_carousel = props => { //... }
`

and same with the interval, it must be:

`import useInterval from "./useInterval.js";`

when you export useInterval **as default** here

[code]

named export -> use { name } import
default

[2020-05-30 10:53] readeral commented on #2
Haha snap @xiel

[2020-05-30 10:58] bilogic commented on #2
@readeral @xiel Wow thanks! I spent the last 5 hours on trying to find the error.............
I'm digressing a bit here, but I suppose there is no point in reading the error printouts correct? This come from experience? I'm rather new to react.

[2020-05-30 11:03] readeral commented on #2
The hint is "...is not a function" - because you're trying to import a function with a specific name that doesn't exist (in this case useInterval) what does arrive ('undefined') - when you call it as a function, the error says "hold up, that's not a function, that's just a value". So when you see an issue like this "...is not a function" you need to look back at where that function is defined and

[2020-05-30 11:04] bilogic commented on #2
Got it. Thank you so much for all the help!

[2020-05-30 11:05] xiel commented on #2
@bilogic You're welcome, at least you invested a few hours to try to figure it out, this way you will remember for next time. We have all been there! :D Sure it is both experience from debugging for hours in the past, but also knowledge of JS fundamentals ;)

I can only recommend you to read about JS, not only react. Because when things get messy you need to know what is really happening (react ha

[2020-05-30 17:32] davidcetinkaya commented on #2
Thanks a bunch for the awesome help @xiel and @readeral, I appreciate it 🎉 .

[2020-06-05 21:11] ndimatteo opened #30 "Not initiating properly from Gatsby internal pages"
Hi there @davidcetinkaya! I've been using this plugin on a handful of projects without issue, and have been loving it! Kudos!

Unfortunately, today I encountered an issue when using this in conjunction with Gatsby and their internal [Link](https://www.gatsbyjs.org/docs/gatsby-link/) feature that allows you to programmatically navigate between pages.

When I navigate to a page with my `EmblaCarouse

[2020-06-06 08:27] davidcetinkaya commented on #30
Hello Nick (@ndimatteo),

Thank you I'm glad you like Embla Carousel 🙂.

Unfortunately I'm not familiar with Gatsby. Here's a [CodeSandbox](https://codesandbox.io/s/csstransition-react-router-qrhnh) with React Router that works as intended. I'm tossing it your way in case it will help you with to understand why this is happening. I will take a closer look at this as soon as possible. In the meanti

[2020-06-06 11:57] louMoxy commented on #30
Hi @ndimatteo

Yeah, it's hard to debug without a sandbox, but my best guess would be that the issue is the lazyload library, as I would recommend not using that library and switching it for [Gatsby image](https://www.gatsbyjs.org/packages/gatsby-image/). Which works fine with Embla as I have used it on a [gatsby site](https://naomidaviesjewellery.co.uk/) before.

I haven't used the lazyload mysel

[2020-06-08 18:06] ndimatteo commented on #30
Thanks @davidcetinkaya and @louMoxy !

So, I don't think it has anything to do with the image lazy-loading, as I have aspect-ratio containers for those, so the slider should still work regardless of that component.

Just to be sure, I removed the lazyload component completely and still encountered the same problem.

I'd LOVE to get you a sandbox of this, but I can't seem to get codesandbox to work

[2020-06-08 18:24] davidcetinkaya commented on #30
Thank you for the update Nick (@ndimatteo).

The CodeSandbox Gatsby started didn’t work? Did you try this one👇🏻?

![5720F56C-A885-47E9-9306-818B9DE27C98](https://user-images.githubusercontent.com/11529148/84065870-5650aa80-a9c5-11ea-824c-bcfa846f83e8.png)

If you log the children count from your carousel component, what do you get by the time the Embla is initialized?

Kindly,
David

[2020-06-08 18:43] ndimatteo commented on #30
No problem! And yea that's the exact one I tried, but it kept giving me a server error just trying to spin one up :/

I know this is a bit of a big ask, but if you're open to it, I'd be happy to add you to the repo so you could spin it up locally. Would at least give you the same setup that I have where the problem persists?

And if I log the `photos` prop above my `return` in my carousel componen

[2020-06-08 19:05] davidcetinkaya commented on #30
@ndimatteo I could give it a try, but can’t promise when. You may add me to the repo and I’ll take a look when I can. So this also happens when the dev server is running right?

[2020-06-08 19:56] ndimatteo commented on #30
@davidcetinkaya no problem at all! My fallback solution is working for now so I'm in no rush, just curious what this could be.

I just added you to the repo, holler if you have any issues getting it up and running.

And yes, it's happening both when the dev server is running, and in production.

[2020-06-09 08:43] davidcetinkaya commented on #30
Hello Nick (@ndimatteo),

I cloned your repository and started investigating why this is happening and don't think this is related to the [`Gatsby Link component`](https://www.gatsbyjs.org/docs/gatsby-link/). Seems like the [`framer-motion`](https://github.com/framer/motion) library is causing this.

Because if I comment the motion component in this file: `src/containers/layout.js` like so:

[code

[2020-06-09 09:31] davidcetinkaya commented on #30
**Update**

I briefly browsed the documentation and found the [`exitBeforeEnter`](https://www.framer.com/api/motion/animate-presence/#animatepresenceprops.exitbeforeenter) prop for the `<AnimatePresence>` component. Using this prop seems to solve the issue:

[code]

Please note that the [`exitBeforeEnter`](https://www.framer.com/api/motion/animate-presence/#animatepresenceprops.exitbeforeenter) pr

[2020-06-09 15:29] ndimatteo commented on #30
@davidcetinkaya thank you so much for taking a look at this! That is SUPER helpful!

No idea why that prop seems to do the trick, but I'll take it! Again, thanks a bunch 🙌

[2020-06-09 15:29] #30 closed

[2020-06-09 17:28] davidcetinkaya commented on #30
Hello Nick (@ndimatteo),

I’m glad it helped 👍🏻.

My initial hunch was that some library was doing things under the hood, causing a race condition or similar. When I inactivated the animation lib responsible for the page transitions, it worked as expected so that was a strong indication that I was on the right track, freeing the Gatsby link component from blame 🙂.

If you have a moment, I’d apprec

[2020-06-20 12:50] iryanrachman opened #32 "would love to have a costum dot navigation"
just asking, i am trying to add a title to each dot navigation, but with a different value is it possible ? if so how ?

[2020-06-20 13:45] davidcetinkaya commented on #32
Hello @iryanrachman,

Thank you for your question. Of course it’s quite possible. Embla doesn’t come with any predefined dot nav but provides the API needed.

What have you tried so far? Have you had a look at the [Basic Setup](https://codesandbox.io/s/embla-carousel-react-basic-setup-znjzv) example provided in the readme? And tried modifying it?

Kindly
David

[2020-06-21 02:44] iryanrachman commented on #32
i tried this tho,

first i have a sass, so i import it like usual

```  let button = "button-carousel" ```

then i tried to make different class using index.. idk where do i get it wrong.. because it is not styled properly, this is actually a hack and not effeicent because i tried to add it one by one using &:after then content : "bla bla"... it works when i dont use button + index...

the thing t

[2020-06-22 10:48] iryanrachman commented on #32
i have found that the purge css is the one who removed the content.. so t works but i is not pretty good solution because i input it manually..

[2020-06-22 10:48] #32 closed

[2020-06-27 12:44] davidcetinkaya opened #33 "THIS PACKAGE HAS MOVED - Please migrate as soon as possible"
### How to migrate
This package has moved into the [core library](https://github.com/davidcetinkaya/embla-carousel) as of version [3.0.3](https://github.com/davidcetinkaya/embla-carousel/releases/tag/v3.0.3). Please migrate as soon as possible. Start by uninstalling the react package and installing the core package like so:

**NPM**
[code]

**YARN**
[code]

### Change your import
[code]

### To an

[2020-06-27 13:18] davidcetinkaya commented on #33
@samuelgoddard, @hughlaw, @HyoGeunGit, @xiel, @iamelimars, @francisco-chiarino, @SimonSchoetz, @nhennigdhbw, @productdevelopmentatneemconsulting, @RitchieVincent, @Ravanger, @vivekneem, @strandls, @ShakCross, @tiagofsanchez, @joelbrewster, @verv0022, @Zellement, @Momentiio, @ransing, @SabariVig, @LiveforTomorrow, @carolinebarra, @rosiii87, @larpo1, @khuang7, @liam-mulv, @codedump00, @horlaarsco, @